<pre>
      1. Implémenter les méthodes handlePrev et handleNext
      2. Afficher le n° de la page sur laquelle on se trouve et le nombre total de pages
          ( exemple: "Page 1 sur 10" )
      3. Désactiver le bouton précédent quand on est sur la première page
      3_BIS. Désactiver le bouton suivant quand on est sur la dernière page.

      4. Créer un composant 'pagination'
        -> Ce composant pagination affiche autant de boutons qu'il y a de pages. Chaque bouton contenant un numéro de page
            '1' , '2', '3', '4'

  </pre>