<div>
  <h2>Mise à jour</h2>

  <pre>
    Implémenter le composant, en utilisant un formulaire permettant de faire la mise à jour d'une actuualité
      - Pré-remplir le formulaire avec les données de l'actu qui doit être mise à jour
            --> pour le pré-remplissage, on peut utiliser {{"formGroup.reset({titre: 'monTitre', texte: 'monTexte', ...})"}}
      - Utiliser au moins un Validator + afficher l'erreur à l'utilisateur quand ce champ est mal rempli ou vide
      - Tester la mise à jour de l'actu (vérifier sur db.json)
      - Mettre à jour l'actu affichée au dessus du formulaire
  </pre>
</div>